#!/bin/bash
#
# Description:
# This script generates and sets a pseudo-random mac address on interfaces.
# This script is created because the Raspberry Pi doesn't accept mac addresses
# from the macchanger package.
# It is not completely random because it won't set broadcast, multicast
# or 'locally administered' mac addresses. This is done by setting the
# second hexadecimal character in the mac address to zero.
#
# This script is used in combination with the /etc/network/interfaces file.
#
# TODO:
# - Get macchanger package to work
#

# {{ ansible_managed }}

# Bash options
set -o errexit # exit script when a command fails
set -o nounset # exit script when a variable is not set


# Variables
export RANDFILE=/tmp/.rnd


# Exit if called for loopback interface
if [ "${IFACE}" = lo ]; then
  exit 0
fi

# Exit if called for "--all"
if [ "${IFACE}" = "--all" ]; then
  exit 0
fi

# Set random mac address
# Fail closed on failure to set random mac address
# Shutdown Tor, nginx, network interface and system
random_mac() {
  local MAC_NEW=$(openssl rand -hex 6 | sed 's/\(..\)/\1:/g; s/.$//; s/[a-f0-9]/0/2')
  if ! /sbin/ifconfig "${IFACE}" down hw ether "${MAC_NEW}"; then
    /usr/sbin/service tor stop
    /usr/sbin/service nginx stop
    /bin/echo "ERROR: Failed to set random mac address on $IFACE."
    /bin/echo "As a security precaution the system will disable itself."
    /bin/echo "Tor and nginx have been disabled."
    /bin/echo "Network interface $IFACE will be disabled in 5 minutes."
    /bin/echo "The system will shutdown in 10 minutes."
    /bin/sleep 300
    /sbin/ifconfig "${IFACE}" down
    /bin/echo "Interface $IFACE has been disabled."
    /bin/echo "System will automatically shutdown in 5 minutes."
    /bin/echo "Use 'sudo shutdown -c' to cancel the automatic shutdown."
    /sbin/shutdown -hP 5
  fi
}

# Call random_mac function with network interface
random_mac "${IFACE}"

# Sleep 10 seconds to fix occasional ifdown/ifup "RTNETLINK answers: Network is
# unreachable" error.
# In tests 1 second was enough, but use a margin of safety
/bin/sleep 10
