<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>{{ item.value.server_name }}</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div id="header">
<h1>Welcome to {{ item.value.server_name }}</h1>
</div>

<div id="nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/gpg.html">PGP/GPG key</a></li>
		<li><a href="/https-info.html">HTTPS</a></li>
		<li><a href="/why-onion-site.html">Why an onion site</a></li>
		<li><a href="/contact.html">Contact</a></li>
	</ul>
</div>

<div id="section">
<h2>About</h2>
<p>Welcome to my website. I am {{ item.value.contact_name }}. I offer various (consultancy) services. Use the contact information to get in touch with me for details.</p>

<h2>Contact info</h2>
<p>
Email: {{ item.value.contact_email }}<br>
PGP/GPG fingerprint: {{ item.value.contact_gpg_fingerprint }}<br>
Pond: {{ item.value.contact_pond }}<br>
Jabber/XMPP: {{ item.value.contact_xmpp }}<br>
OTR fingerprint: {{ item.value.contact_otr }}<br>
</p>

<h2>Payment data</h2>
<p>
Bitcoin: {{ item.value.contact_bitcoin }}<br>
Monero: {{ item.value.contact_monero }}<br>
</p>
<p>
<em><small>Important note: donations are always appreciated.</small></em>
</p>

<h3>HTTPS available</h3>
<p>
For better security it is recommended you use the <a href="https://{{ item.value.server_name }}/">https</a> version of this site. See the <a href="//{{ item.value.server_name }}/https-info.html">https</a> <a href="//{{ item.value.server_name }}/https-info.html">infopage</a> for information about how to deal with the https browser warnings.
</p>
</div>

<div id="footer">
Powered by <a href="{{ garlic_homepage }}">Garlic Gambit</a> (clearnet link) - Bitcoin: {{ garlic_bitcoin }}<br>
Monero: {{ garlic_monero }}
</div>

</body>
</html>
