html {
  height: 100%;
}
body {
  background:grey;
  position: relative;
  min-height: 100%;
  padding-bottom: 30px;
  box-sizing: border-box;
}
#header {
  background-color:grey;
  color:black;
  text-align:center;
  padding:5px;
  border-bottom: 1px solid black;
}
#nav {
  background-color:grey;
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 1px;
  list-style: none;
  background-color #f2f2f2;
}
#nav ul {
  list-style: none;
  width: 750px;
  margin: 0 auto;
  padding: 0;
}
#nav li {
/* put navigation text horizontal */
  float: left;
}
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #004890;
}
#nav li:first-child a {
  border-left: 1px solid: #ccc;
}
#nav li a:hover {
  color: #c00;
}
#section {
/* width of text section */
  width: 800px;
  padding:50px;
  text-align:left;
}
#footer {
  background-color:grey;
  color:black;
  clear:both;
  font-size: 0.75em;
  text-align:left;
  padding-top:5px;
  padding-left:5px;
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
}
